
<!----seccion 4 hability-->
<div class="seccion4">
      <div class="conteiner">
        <div class="row">
              <div class=" col-3">
                <div class="exp"><h3>hard skill & soft skill</h3>
                </div>
                </div>  
                <div class="col-8"></div>
            
            <div class= "col-xl-1">
             <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
            
            
          </div>
        </div>
        
  
    </div>
    
    
</div>
<br>

                