 <!---seccion 2 acerca de -->
 <div class="seccion2">
    <div class="conteiner ">
  
      <div class="row">
        <div class=" col-2">
          <div class="ACERCA"><h3>  Acerca de</h3></div>
          </div>
        <div class=" col-2">
        </div>
        <div class="col-4">
        </div>
        <div class=" col-3">
        </div>
        <div class=" col-1"><div class="botonazo">
          <button type="button" class="btn btn-primary" onclick=" cambiar() "><i class="fas fa-pencil-alt"style="color:white"></i></button></div>
        </div>
        <div>
          <input id="edit" type="text" oninput="mifuncion2(this.value)" style= "display:none">
        </div>
      </div>
    </div>
          <div class="conteiner ">
            <div class="row">
              
                   
                  <div class=" col-12">
                  <P id="abajo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellendus optio non nulla quae amet atque nostrum, similique nemo laudantium accusamus odio quod fugiat culpa quo obcaecati sed error numquam?</P>
                  
              
                
              
                    </div>
                  </div>

          </div>
      </div>
         
<br>
