<title>PLANTILLA PORTAFOLIO</title>
    <!---NAVEGACION-->
    <div class="navegacion">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid" style="background-color: rgb(4, 4, 7)":>
        <a class="navbar-brand text-white" href="#">Lucas Sorzio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ">
            
            <li class="nav-item">
              <a class="nav-link" style="color: white" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"style="color: white" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link"style="color: white" href="https://twitter.com/?lang=es"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link "style="color: white" href="#">login</a>
            </li>
          </ul>
        </div>
      </div>
  </nav> 








  <!---PORTADA -->
   <div class="completo">
  <div class="conteiner">
    <div class="primera">
  
      <div class="container-fluid">
      
        
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="portada">
                        <img src="imagen.jpg"class="portada"style="device-width" alt="">
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="container">
  
                  <div class="row">
  
                    <div class="col-md-2">
                      <img src="2.jpg" class="img-fluid fotoperfil " alt="...">
                    </div>
                    <div class="suma" > <button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>
                    </div>  
                </div>
                    </div>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2">
                          <div>  <h1 class="nombre">Lucas Sorzio</h1>     
                        </div>
                        </div>
                        <div class="col-8"></div>
                      <div class="col-1 ">
                        <div class="icono1">
                          <img src="conicet_3.jpg"style="width: 40px;"  alt=""><h5><b>Conicet</b></h5>
                          
                      </div>
                      </div>
                      </div>
                    </div>
                        
  
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-1"></div>
                        <div class="col-6">
                          <div><h5>Buenos Aires(Argentina) Informacion de contacto</h5> </div>   
                        <div class="row">
                          <div id="1"><h5>Estudiante Argentina programa</h5></div>
                        </div>
                        <div class="row">
                          <div class="col-5">
                            <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success"  href="https://www.facebook.com/matyuyugioh.yugioh">Tengo intereses</button>
                            <button type="button" class="btn btn-primary">Añadir seccion</button>
                            <button type="button" class="btn btn-success">mas</button>
                          </div>
                          </div>
                          
                          
                            
                        </div>
                        </div>
  
  
                      
                        <div class="col-4"></div>
                      <div class="col-1 ">
                        <div class="icono2">                
                          <img src="uba.jfif"style="width:30px;"  alt="">
                          <h5><b>Universidad de Bs As</b></h5>
                          </div>
                      </div>
                      </div>
                    </div>
                    
                 
                  
                        
                       
         
          
          
                    
                    
                      
  
                      
                       
                
                </div>
                  </div>
                </div>
                <br>    
