<br>   
<!----aca empieza seccion 5-->
<div class="seccion5">
  <div class="conteiner">
    <div class="conteiner">
      <div class="row">
            <div class=" col-11">
              <div  class="exp"><h3>Proyectos</h3>
              </div>
              </div>
          
  
          <div class= "col-1"><div class="botonazo">
            <div class="botonexp"> <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
          
            </div>
        </div>
      </div>
      
    </div>

  </div>
  <div class="conteiner">
    <div class="row">

        <div class="col-1"></div>
      <div class="col-10">
        <div class="row">  

          <ul>
            <li>
              <h5 class="pro1">farmacia</h5>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, perspiciatis quaerat quasi illo harum quo ipsum hic possimus error dolore mollitia iure in praesentium culpa. Harum possimus aliquam autem doloremque.</p>
              
            </li>
          </ul>

        </div>
        
        
        
     
      </div>
     
      <div class= "col-1"><div class="lapiz"> <button type="button" class="btn btn-primary"><i class="fas fa-trash"></i></button>
      </div>
     <div class="suma "> <button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>
      </div>   </div>
      
      </div>
      </div><div class="conteiner">
        <div class="row">
    
            <div class="col-1"></div>
          <div class="col-10">
            <div class="row">  
  
              <ul>
                <li>
                  <h5 class="pro2">farmacia2</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis modi excepturi, quam cum voluptates numquam voluptatibus nobis! A expedita animi libero, qui repudiandae voluptas et iure, eaque accusantium, veritatis laboriosam!</p>
                  
                </li>
              </ul>
  
            </div>
            
            
            
         
          </div>
         
          <div class= "col-1"><div class="lapiz"> <button type="button" class="btn btn-primary"><i class="fas fa-trash"></i></button>
          </div>
         <div class="suma "> <button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>
          </div>   </div>
          
          </div>
          </div>
              </div>
              
</div>
<br>
