

<!---PORTADA -->


<div class="primera">

  <div class="container-fluid">
  
    
            <div class="container-fluid">
              <div class="row">
                <div class="col-xl-12">
                  <div class="portada">
                    <img src="assets/imagen.jpg"class="portada"style="device-width" alt="">
                  </div> 
                </div>
              </div>
            </div>
            <div class="container">

              <div class="row">

                <div class="col-md-2">
                  <img src="./assets/2.jpg" class="img-fluid fotoperfil " alt="...">
                </div>
                <div class="suma" > <button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>
                </div>  
            </div>
                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2">
                      <div>  <h1 class="nombre">{{miPorfolio.nombre}}</h1>     
                    </div>
                    </div>
                    <div class="col-8"></div>
                  <div class="col-1 ">
                    <div class="icono1">
                      <img src="assets/conicet_3.jpg"style="width: 40px;"  alt=""><h5><b>Conicet</b></h5>
                      
                  </div>
                  </div>
                  
                </div>
                
                    

                <div class="container-fluid">
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-6">
                      <div><h5>buenos Aires(Argentina) Informacion de contacto</h5> </div>   
                    <div class="row">
                      <div id="1"><h5>Estudiante Argentina programa</h5></div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success"  href="https://www.facebook.com/matyuyugioh.yugioh">Tengo intereses</button>
                        <button type="button" class="btn btn-primary">Añadir seccion</button>
                        <button type="button" class="btn btn-success">mas</button>
                      </div>
                      </div>
                      
                      
                        
                    </div>
                    </div>


                  
                    <div class="col-4"></div>
                  <div class="col-1 ">
                    <div class="icono2">                
                      <img src="assets/uba.jfif"style="width:30px;"  alt="">
                      <h5><b>Universidad de Bs As</b></h5>
                      </div>
                  </div>
                  </div>
                </div>
                <br>
                
                
             
              
                    
                   
     
      
      
                
                
                  

                  
                   
            
            </div>
              </div>
              <br>

          