<div class="seccion4">
    <h3>Educacion</h3>
<div class="container">
    <div class="row"*ngFor="let education of educations">

        <div class="col-3">
           <img src="{{education.imagenEdu}}" width="100">
        </div>
        <div class="col-6">
            {{education.tituloEdu}}
        </div>
        <div class="col-9">
            {{education.fechaEdu}}
        </div>
        <div class="col-12">
            {{education.desdcEdu}}
        </div>
    </div>




















</div>






</div>