  <!---seccion experiencias -->
  <div class="seccion3">
    <div class="conteiner">
      <div class="conteiner">
        <div class="row">
              <div class=" col-1">
                <h3 id="exp">Experiencia</h3>
                </div>
                <div class="col-10"></div>
            
    
            <div class= "col-1"><div class="botonazo">
              <div class="botonexp"> <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
            
              </div>
          </div>
        </div>
        
      </div>
  
   
    
      <div class="conteiner">
        <div class="row">
    
            <div class="col-1"></div>
          <div class="col-10">
            <div class="row">  
  
              <ul>
                <li>
                  <h5 class="trabajo1">Reparacion de celulares </h5>
                  <h5 class="añostrabajados">2010-2013</h5>
                  <h5 class="tipojornada">8hs</h5>
                  <h5 class="lugar">buenos aires</h5>
                </li>
              </ul>
  
            </div>
            
            
            
         
          </div>
         
          <div class= "col-1"><div class="lapiz"> <button type="button" class="btn btn-primary"><i class="fas fa-trash"></i></button>
          </div>
         <div class="suma "> <button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>
          </div>   </div>
          
          </div>
          </div>
          <div class="conteiner">
            <div class="row">
        
                <div class="col-1"></div>
              <div class="col-10">
                <div class="row">  
      
                  <ul>
                    <li>
                      <h5 class="trabajo2">Reparacion de computadores </h5>
                      <h5 class="añostrabajados2">2013-2015</h5>
                      <h5 class="tipojornada2">8hs</h5>
                      <h5 class="lugar2">buenos aires</h5>
                    </li>
                  </ul>
      
                </div>
                
                
                
             
              </div>
             
              <div class= "col-1"><div class="lapiz"> <button type="button" class="btn btn-primary"><i class="fas fa-trash"></i></button>
              </div>
             <div class="suma "> <button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>
              </div>   </div>
              
              </div>
              </div>
         
  
         </div>
         
    </div>
      
    <br> 